---
title: Taiko - About
bodyClass: body
outClass: about
---
extends shared/_layout
block content


  .about__main

    img(src="./img/ImageBg_about.png" class="about__main-bg wow wowFadeLeft" data-animation-delay="0.35s")

    .container

      .about__main-row.wow.wowFadeRight(data-animation-delay="0.35s")

        +customBtn('about__main-cbtn', "О группе")

        p.about__main-text!= "TAIKO in-Spiration - это дружная команда молодых и талантливых музыкантов, объединенных общим увлечением и любовью к японским барабанам тайко."


  .about__info

    //img(src="./img/ImageInfo_about.jpg")

    .container.wow.wowFadeUp(data-animation-delay="0.75s")

      .about__info-slider.js-myCustomSlider(data-num=[7, 32, 18, 46, 3], data-text=["Лет","Номера","туров","Брендов","Клипа"])
        -
          var infoArr = [
            "Мы появились на свет в 2011 году, и уже семь лет рабуем всех нашим творчеством. Первый учителем и вдохновителем стала Оксана Мосейчук, перкуссионист из Австрии. Спустя время судьба свела  нас с японским музыкантом и композитором Takuya Taniguchi, который подарил нашим барабанам современное звучание.",
            "Мы играем на барабанах тайко, в стиле вадайко, хатидже, мийяке, одори. Вдохновленные звуком и ритмами японских барабанов тайко, мы увлеклись культурой Японии и погрузились в ее изучение. Недавно мы расширили репертуар и подготовили китайские номера.",
            "Челябинск, ростов на дону, нижний новгород, пермь, ижевск, казать, питер, астана. Нас часто зовут на гастроли в разные города России",
            "Мы работаем с лучшими японскими компаниями и не только. Самое долгое сотрудничество - 4 года с Юникло. toyota, mitsubishi, lexux, honda, tokeda, harmles, samsung, uniclo, orient, hh, subary, suzuki, wall, lifan, nobu, soluxe, hinode, bynthmths, fohow, kuocera",
            "Певый клип с биянкой, второй с MOUMINA, а третий с киркоровым.",
          ];
        -for(var i = 0, len = infoArr.length; i < len; i++)
          .about__info-slider-item
            p!= infoArr[i]



  .about__member
    .container

      .about__member-wrap.wow.wowFadeUp(data-animation-delay="0.55s")
        img(src="./img/ImageMemberMain_about.png")

        .about__member-row

          .about__member-col
            p.about__member-hash!= "#лидер группы"
            +customBtn('about__member-cbtn', "Александра")
            +customBtn('about__member-cbtn', "Самохина")

          .about__member-col
            p.about__member-cAt
              a(href="#")!= "@ALEX_TAIKO"

      p.about__member-title!= "Наши барабанщицы"

    .about__member-grid
      -
        var arrImage = [
          "ImageMemberFace_about",
          "ImageMemberFace_about",
          "ImageMemberFace_about",
          "ImageMemberFace_about",
          "ImageMemberFace_about",
          "ImageMemberFace_about"
        ];

      -for(var i = 0, len = arrImage.length; i < len; i++)
        div
          img(src="./img/" + arrImage[i] + ".jpg" class="wow wowFadeUp" data-animation-delay="0.65s")

          .about__member-grid-hidden
            p
              a(href="#")!= "@SHELOMKA"
            p!= "Анастасия"
            p!= "Шеломова"



  .about__reviews
    .container.wow.wowFadeLeft(data-animation-delay="0.55s")
      p.about__reviews-title!= "Отзывы"

      .about__reviews-row.js-reviews
        .about__reviews-row
          .about__reviews-row--left
            .about__reviews-image
              img(src="./img/ImageReview_about.jpg")

          .about__reviews-row--right
            p!= "Очень зажигали барабанщицы! Они такое творили! Это было фантастически мощно и красиво."
            .about__reviews-wrap
              p!= "певец, актёр, композитор и продюсер"
              span!= "ФИЛЛИП КИРКОРОВ"

        .about__reviews-row
          .about__reviews-row--left
            .about__reviews-image
              img(src="./img/ImageReview_about0.jpg")

          .about__reviews-row--right
            p!= "Девочки отлично вписались в спектакль. И как музыканты, и как актеры они прекрасно чувствовали себя на сцене."
            .about__reviews-wrap
              p!= 'режиссер, художественный руководитель "Театриума"'
              span!= "ТЕРЕЗА ДУРОВА"


block footer
  include ./components/_footer
