---
title: Taiko
bodyClass: homepage
---
extends shared/_layout
block content

    // block main - ...
    .homepage__main
      .homepage__main-bg

      p.homepage__main-title!= "#единственное в России"

      +customBtn('homepage__main-cbtn', "ЯПОНСКОE")
      +customBtn('homepage__main-cbtn', "БАРАБАННОЕ ШОУ")


    // block programs
    .homepage__program

      img(src="./img/ImageBgLight_main.png" class="homepage__program-bg")

      .container

        p.homepage__program-title!= "ТАКАЯ ДАЛЕКАЯ И ЗАГАДОЧНАЯ ЯПОНИЯ"
        p.homepage__program-subTitle!= "ОКАЖЕТСЯ СОВСЕМ РЯДОМ..."

        .homepage__program-box

          p.homepage__program-text!= "В нашем репертуаре по-настоящему 'ударные' фестивальные композиции и современные барабанные ритмы. Этническая музыка, традиционные костюмы и народные танцы погружают наших зрителей в атмосферу таинственной Азии и заставляют их сердца биться в такт барабанов!"

          +customBtn('homepage__program-cbtn', "ПРОГРАММЫ")

        img(src="./img/ImageWoman_main.png" class="homepage__program-woman")

        .homepage__program-video


    // block news
    .homepage__news
      .container
        p.homepage__news-title!= "ПОСЛЕДНИЕ НОВОСТИ"


        +newsBlock(3, "")

        +customBtn('homepage__news-cbtn', "ДРУГИЕ НОВОСТИ")

block footer
  include ./components/_footer

