---
title: Taiko - Programs
bodyClass: body
outClass: programs
---
extends shared/_layout
block content

  -
    var programsTextArr = [
      // "Выступление японских барабанщиц — прекрасное начало любого мероприятия в японском стиле. Попурри из нескольких традиционных композиций задаст тон празднику, наполнит зал энергией и привнесёт торжественный колорит. Если вы задумали добавить торжественности моменту награждения сотрудников — музыкальные отбивки, исполненные на Японских барабанах, станут яркой кульминацией праздника.",
      // "Радость ханами - пришла весна, расцвела нежным розовым цветом сакура. Между деревьев печально бродит юная девушка.<br/>В поиске духа её возлюбленный избрал опасный путь самурая и покинул ее. Одинокая гейша проводит время в саду и любуется пышно цветущей сакурой. Несколько мгновений любования цветами разгоняют тоску и наполняют ее сердце нежностью и любовью. Появляется надежда: пройдет время, в небо полетят лепестки, и он вернется.",
      // "Из леса появляются таинственные девушки:<br/>они играют на барабанах, танцуют и кружатся, привлекая внимание одиноких путников. Кто эти юные незнакомки? Может, это кицунэ – лисы-оборотни, способные превращаться в обольстительных красавиц?<br/>То тут, то там начинают мелькать лисьи хвосты, маленькие ушки и пленительные улыбки...<br/>Теперь все ясно...",
      // "История, восходящая к эпохе Эдо… В городе Мориока наступил долгожданный фестиваль, посвящённый победе добрых духов над ужасным демоном, долгое время мучившим местных жители. Люди, воодушевленные победой, весело танцуют, выкрикивая «санса санса», и повторяют «Sakkora Choiwa Yasse», что является призывом невероятной удачи. Ритмы барабанов разносятся по всей округе, и каждый мечтает стать частью фестиваля.",
      // "Яркие образы Демонов из Японской мифологии создадут колоритную картинку Загадочной и таинственной Японии. Соединение ритуальных танцев и мощных звуков Японских барабанов тайко в одно зрелищное магическое действо. Яркие аутентичные костюмы и традиционные маски Японских Екаев.",
      // "На центральной улице Киото появляется Ойран в сопровождении своего слуги. Стойкий воин оберегает хрупкую девушку на всем ее пути. Богатое кимоно, яркая расписная накидка, дорогие канзаши в волосах и пятнадцатисантиметровые сандалии гэта… От нее невозможно отвести взгляд! Каждый шаг, каждое движение демонстрируют красоту и утонченность японской куртизанки. Окружающие восхищаются и завидуют.<br/>Интересно, куда держит путь эта пара?",
      // "Воздух становится все прохладнее, лето закончилось и наступило время кленовых листьев каэдэ. Деревья меняют цвет, укутывая склоны гор и равнины живописным золотисто-багровым ковром. Лёгкий взмах веера - и зелёный цвет превращается в красный. От дуновения ветра кружатся осенние листья в завораживающем танце. Время любования осенью...",
      "В далекой Японии есть легенда о дочерях горы Фудзи – прекрасных Глициниях, которые покинули родной дом в поисках возлюбленных, высоких и могучих Сосен. Сестры мечтали, чтобы они оберегали и служили надежной опорой на долгое время. Каждое лето Глицинии пышно распускаются от любви и окутывают склоны Фудзи нежных цветом. Тоскуя по возлюбленным, капли слез застывают в воздухе прекрасными цветами. Они надеются, что скоро встретят своих избраннико...",
      "Однажды в Осаке появилась таинственная девушка. Это навсегда изменило привычный ритм жизни. Она была настолько очаровательна, что никто не в силах был отвести от взгляд. Перед людьми предстала манящая красота, интригующая и необычайно привлекательная. Она искусно владела магией обольщения - каждое движение завораживало… Девушкой восхищались, но никто не догадывался, что это лиса Кицунэ в человеческом обличии...",
    ];


  .programs__main

      +customBtn('programs__main-cbtn wow wowFadeDown', "Шоу-программы")


  .programs__wrap
    .container
      
      // programm
      .programs__block
        .programs__block--left.wow.wowFadeLeft(data-animation-delay="0.65s")

          .programs__block-video
            img(src="./img/ImageBlock_programs.jpg")
            +customBtnImage('#gallery', 'cbutton--active cbutton--icon js-play', "icon-play")

          p #Барабанное шоу

        .programs__block--right.wow.wowFadeRight(data-animation-delay="0.65s")

          .programs__block-header
            h4 Шоу на открытие

            .programs__block-time
              i.programs__block-icon.icon-clock
              span.programs__block-icon 15-40 мин.

          p Выступление японских барабанщиц — прекрасное начало любого мероприятия в японском стиле. Попурри из нескольких традиционных композиций задаст тон празднику, наполнит зал энергией и привнесёт торжественный колорит. Если вы задумали добавить торжественности моменту награждения сотрудников — музыкальные отбивки, исполненные на Японских барабанах, станут яркой кульминацией праздника.

          +customBtnId('#callback_1', 'cbutton--active programs__block-cbtn js-order', "СТОИМОСТЬ")

      #callback_1.modal.mfp-hide
        form.modal__form.modal__form-choose.is-active
          span!= "Шоу на открытие"
          .modal__form-field(js-chooseLabel, data-count="5 чел. / 50 000 p.")
              .modal__form-field--left
                +icon('ico-people')
                | 5 ЧЕЛ.
              .modal__form-field--right
                | 10 000 p.
          .modal__form-field(js-chooseLabel, data-count="7 чел. / 75 000 p.")
              .modal__form-field--left
                +icon('ico-people')
                | 7 ЧЕЛ.
              .modal__form-field--right
                | 25 000 p.
          .modal__form-field(js-chooseLabel, data-count="10 чел. / 100 000 p.")
              .modal__form-field--left
                +icon('ico-people')
                | 10 ЧЕЛ.
              .modal__form-field--right
                | 30 000 p.
          +customBtn('cbutton--active modal__cbtn js-chooseModal', "Заказать")

        form.modal__form.modal__form-data(js-modal)
          p(js-count)!= "5 чел. / 50 000 p."
          span!= "ЯПОНСКИЕ СЕЗОНЫ"
          input(type="hidden" name="programm" value="")
          input(type="hidden" name="people" value="")
          .modal__form-field
            input(type="text" name="name" placeholder="Ваше имя")
          .modal__form-field.modal__form-field--phone
            input(type="tel" name="phone" placeholder="Ваш номер")
          .modal__form-field.modal__form-field--email
            input(type="email" name="email" placeholder="почта")

          +customBtnSubmit('cbutton--active modal__cbtn', "Отправить")


      // imgName, hashText, cbtnTex, time
      +programFullBlock("ImageFullBlock_programs", "#шоу-программа", "японские сезоны", "90 мин.")


      // programm
      .programs__block.programs__block--reverse
        .programs__block--left.wow.wowFadeLeft(data-animation-delay="0.65s")

          .programs__block-video
            img(src="./img/ImageBlock_programs.jpg")
            +customBtnImage('#gallery', 'cbutton--active cbutton--icon js-play', "icon-play")

          p #Барабанное шоу

        .programs__block--right.wow.wowFadeRight(data-animation-delay="0.65s")

          .programs__block-header
            h4 sakura blossom

            .programs__block-time
              i.programs__block-icon.icon-clock
              span.programs__block-icon 5 мин

          p Радость ханами - пришла весна, расцвела нежным розовым цветом сакура. Между деревьев печально бродит юная девушка.<br/>В поиске духа её возлюбленный избрал опасный путь самурая и покинул ее. Одинокая гейша проводит время в саду и любуется пышно цветущей сакурой. Несколько мгновений любования цветами разгоняют тоску и наполняют ее сердце нежностью и любовью. Появляется надежда: пройдет время, в небо полетят лепестки, и он вернется.
          +customBtnId('#callback_2', 'cbutton--active programs__block-cbtn js-order', "СТОИМОСТЬ")

      #callback_2.modal.mfp-hide
        form.modal__form.modal__form-choose.is-active
          span!= "Шоу на открытие"
          .modal__form-field(js-chooseLabel, data-count="5 чел. / 50 000 p.")
              .modal__form-field--left
                +icon('ico-people')
                | 5 ЧЕЛ.
              .modal__form-field--right
                | 13 000 p.
          .modal__form-field(js-chooseLabel, data-count="7 чел. / 75 000 p.")
              .modal__form-field--left
                +icon('ico-people')
                | 7 ЧЕЛ.
              .modal__form-field--right
                | 22 000 p.
          .modal__form-field(js-chooseLabel, data-count="10 чел. / 100 000 p.")
              .modal__form-field--left
                +icon('ico-people')
                | 10 ЧЕЛ.
              .modal__form-field--right
                | 33 000 p.
          +customBtn('cbutton--active modal__cbtn js-chooseModal', "Заказать")

        form.modal__form.modal__form-data(js-modal)
          p(js-count)!= "5 чел. / 50 000 p."
          span!= "ЯПОНСКИЕ СЕЗОНЫ"
          input(type="hidden" name="programm" value="")
          input(type="hidden" name="people" value="")
          .modal__form-field
            input(type="text" name="name" placeholder="Ваше имя")
          .modal__form-field.modal__form-field--phone
            input(type="tel" name="phone" placeholder="Ваш номер")
          .modal__form-field.modal__form-field--email
            input(type="email" name="email" placeholder="почта")

          +customBtnSubmit('cbutton--active modal__cbtn', "Отправить")
          
          
      // programm
      .programs__block
        .programs__block--left.wow.wowFadeLeft(data-animation-delay="0.65s")

          .programs__block-video
            img(src="./img/ImageBlock_programs.jpg")
            +customBtnImage('#gallery', 'cbutton--active cbutton--icon js-play', "icon-play")

          p #Барабанное шоу

        .programs__block--right.wow.wowFadeRight(data-animation-delay="0.65s")

          .programs__block-header
            h4 kitsune dance

            .programs__block-time
              i.programs__block-icon.icon-clock
              span.programs__block-icon 8 мин

          p Из леса появляются таинственные девушки:<br/>они играют на барабанах, танцуют и кружатся, привлекая внимание одиноких путников. Кто эти юные незнакомки? Может, это кицунэ – лисы-оборотни, способные превращаться в обольстительных красавиц?<br/>То тут, то там начинают мелькать лисьи хвосты, маленькие ушки и пленительные улыбки...<br/>Теперь все ясно...
          +customBtnId('#callback_3', 'cbutton--active programs__block-cbtn js-order', "СТОИМОСТЬ")

      #callback_3.modal.mfp-hide
        form.modal__form.modal__form-choose.is-active
          span!= "Шоу на открытие"
          .modal__form-field(js-chooseLabel, data-count="5 чел. / 50 000 p.")
              .modal__form-field--left
                +icon('ico-people')
                | 5 ЧЕЛ.
              .modal__form-field--right
                | 11 000 p.
          .modal__form-field(js-chooseLabel, data-count="7 чел. / 75 000 p.")
              .modal__form-field--left
                +icon('ico-people')
                | 7 ЧЕЛ.
              .modal__form-field--right
                | 24 000 p.
          .modal__form-field(js-chooseLabel, data-count="10 чел. / 100 000 p.")
              .modal__form-field--left
                +icon('ico-people')
                | 10 ЧЕЛ.
              .modal__form-field--right
                | 40 000 p.
          +customBtn('cbutton--active modal__cbtn js-chooseModal', "Заказать")

        form.modal__form.modal__form-data(js-modal)
          p(js-count)!= "5 чел. / 50 000 p."
          span!= "ЯПОНСКИЕ СЕЗОНЫ"
          input(type="hidden" name="programm" value="")
          input(type="hidden" name="people" value="")
          .modal__form-field
            input(type="text" name="name" placeholder="Ваше имя")
          .modal__form-field.modal__form-field--phone
            input(type="tel" name="phone" placeholder="Ваш номер")
          .modal__form-field.modal__form-field--email
            input(type="email" name="email" placeholder="почта")

          +customBtnSubmit('cbutton--active modal__cbtn', "Отправить")
          
      // programm
      .programs__block.programs__block--reverse
        .programs__block--left.wow.wowFadeLeft(data-animation-delay="0.65s")

          .programs__block-video
            img(src="./img/ImageBlock_programs.jpg")
            +customBtnImage('#gallery', 'cbutton--active cbutton--icon js-play', "icon-play")

          p #Барабанное шоу

        .programs__block--right.wow.wowFadeRight(data-animation-delay="0.65s")

          .programs__block-header
            h4 Morioka sansa odori

            .programs__block-time
              i.programs__block-icon.icon-clock
              span.programs__block-icon 6 мин

          p История, восходящая к эпохе Эдо… В городе Мориока наступил долгожданный фестиваль, посвящённый победе добрых духов над ужасным демоном, долгое время мучившим местных жители. Люди, воодушевленные победой, весело танцуют, выкрикивая «санса санса», и повторяют «Sakkora Choiwa Yasse», что является призывом невероятной удачи. Ритмы барабанов разносятся по всей округе, и каждый мечтает стать частью фестиваля.
          +customBtnId('#callback_4', 'cbutton--active programs__block-cbtn js-order', "СТОИМОСТЬ")

      #callback_4.modal.mfp-hide
        form.modal__form.modal__form-choose.is-active
          span!= "Шоу на открытие"
          .modal__form-field(js-chooseLabel, data-count="5 чел. / 50 000 p.")
              .modal__form-field--left
                +icon('ico-people')
                | 5 ЧЕЛ.
              .modal__form-field--right
                | 10 000 p.
          .modal__form-field(js-chooseLabel, data-count="7 чел. / 75 000 p.")
              .modal__form-field--left
                +icon('ico-people')
                | 7 ЧЕЛ.
              .modal__form-field--right
                | 25 000 p.
          .modal__form-field(js-chooseLabel, data-count="10 чел. / 100 000 p.")
              .modal__form-field--left
                +icon('ico-people')
                | 10 ЧЕЛ.
              .modal__form-field--right
                | 30 000 p.
          +customBtn('cbutton--active modal__cbtn js-chooseModal', "Заказать")

        form.modal__form.modal__form-data(js-modal)
          p(js-count)!= "5 чел. / 50 000 p."
          span!= "ЯПОНСКИЕ СЕЗОНЫ"
          input(type="hidden" name="programm" value="")
          input(type="hidden" name="people" value="")
          .modal__form-field
            input(type="text" name="name" placeholder="Ваше имя")
          .modal__form-field.modal__form-field--phone
            input(type="tel" name="phone" placeholder="Ваш номер")
          .modal__form-field.modal__form-field--email
            input(type="email" name="email" placeholder="почта")

          +customBtnSubmit('cbutton--active modal__cbtn', "Отправить")
          
      // programm
      .programs__block
        .programs__block--left.wow.wowFadeLeft(data-animation-delay="0.65s")

          .programs__block-video
            img(src="./img/ImageBlock_programs.jpg")
            +customBtnImage('#gallery', 'cbutton--active cbutton--icon js-play', "icon-play")

          p #Барабанное шоу

        .programs__block--right.wow.wowFadeRight(data-animation-delay="0.65s")

          .programs__block-header
            h4 oni demons

            .programs__block-time
              i.programs__block-icon.icon-clock
              span.programs__block-icon 5 мин

          p Яркие образы Демонов из Японской мифологии создадут колоритную картинку Загадочной и таинственной Японии. Соединение ритуальных танцев и мощных звуков Японских барабанов тайко в одно зрелищное магическое действо. Яркие аутентичные костюмы и традиционные маски Японских Екаев.
          +customBtnId('#callback_5', 'cbutton--active programs__block-cbtn js-order', "СТОИМОСТЬ")

      #callback_5.modal.mfp-hide
        form.modal__form.modal__form-choose.is-active
          span!= "Шоу на открытие"
          .modal__form-field(js-chooseLabel, data-count="5 чел. / 50 000 p.")
              .modal__form-field--left
                +icon('ico-people')
                | 5 ЧЕЛ.
              .modal__form-field--right
                | 10 000 p.
          .modal__form-field(js-chooseLabel, data-count="7 чел. / 75 000 p.")
              .modal__form-field--left
                +icon('ico-people')
                | 7 ЧЕЛ.
              .modal__form-field--right
                | 25 000 p.
          .modal__form-field(js-chooseLabel, data-count="10 чел. / 100 000 p.")
              .modal__form-field--left
                +icon('ico-people')
                | 10 ЧЕЛ.
              .modal__form-field--right
                | 30 000 p.
          +customBtn('cbutton--active modal__cbtn js-chooseModal', "Заказать")

        form.modal__form.modal__form-data(js-modal)
          p(js-count)!= "5 чел. / 50 000 p."
          span!= "ЯПОНСКИЕ СЕЗОНЫ"
          input(type="hidden" name="programm" value="")
          input(type="hidden" name="people" value="")
          .modal__form-field
            input(type="text" name="name" placeholder="Ваше имя")
          .modal__form-field.modal__form-field--phone
            input(type="tel" name="phone" placeholder="Ваш номер")
          .modal__form-field.modal__form-field--email
            input(type="email" name="email" placeholder="почта")

          +customBtnSubmit('cbutton--active modal__cbtn', "Отправить")
          
      +programFullBlock("ImageFullBlock_programs", "#ШОУ-СПЕКТАКЛЬ", "Море синего леса", "90 мин.")

      // programm
      .programs__block.programs__block--reverse
        .programs__block--left.wow.wowFadeLeft(data-animation-delay="0.65s")

          .programs__block-video
            img(src="./img/ImageBlock_programs.jpg")
            +customBtnImage('#gallery', 'cbutton--active cbutton--icon js-play', "icon-play")

          p #Барабанное шоу

        .programs__block--right.wow.wowFadeRight(data-animation-delay="0.65s")

          .programs__block-header
            h4 шествие ойран

            .programs__block-time
              i.programs__block-icon.icon-clock
              span.programs__block-icon 5 мин

          p На центральной улице Киото появляется Ойран в сопровождении своего слуги. Стойкий воин оберегает хрупкую девушку на всем ее пути. Богатое кимоно, яркая расписная накидка, дорогие канзаши в волосах и пятнадцатисантиметровые сандалии гэта… От нее невозможно отвести взгляд! Каждый шаг, каждое движение демонстрируют красоту и утонченность японской куртизанки. Окружающие восхищаются и завидуют.<br/>Интересно, куда держит путь эта пара?
          +customBtnId('#callback_6', 'cbutton--active programs__block-cbtn js-order', "СТОИМОСТЬ")

      #callback_6.modal.mfp-hide
        form.modal__form.modal__form-choose.is-active
          span!= "Шоу на открытие"
          .modal__form-field(js-chooseLabel, data-count="5 чел. / 50 000 p.")
              .modal__form-field--left
                +icon('ico-people')
                | 5 ЧЕЛ.
              .modal__form-field--right
                | 50 000 p.
          .modal__form-field(js-chooseLabel, data-count="7 чел. / 75 000 p.")
              .modal__form-field--left
                +icon('ico-people')
                | 7 ЧЕЛ.
              .modal__form-field--right
                | 75 000 p.
          .modal__form-field(js-chooseLabel, data-count="10 чел. / 100 000 p.")
              .modal__form-field--left
                +icon('ico-people')
                | 10 ЧЕЛ.
              .modal__form-field--right
                | 100 000 p.
          +customBtn('cbutton--active modal__cbtn js-chooseModal', "Заказать")

        form.modal__form.modal__form-data(js-modal)
          p(js-count)!= "5 чел. / 50 000 p."
          span!= "ЯПОНСКИЕ СЕЗОНЫ"
          input(type="hidden" name="programm" value="")
          input(type="hidden" name="people" value="")
          .modal__form-field
            input(type="text" name="name" placeholder="Ваше имя")
          .modal__form-field.modal__form-field--phone
            input(type="tel" name="phone" placeholder="Ваш номер")
          .modal__form-field.modal__form-field--email
            input(type="email" name="email" placeholder="почта")

          +customBtnSubmit('cbutton--active modal__cbtn', "Отправить")

      // programm
      .programs__block
        .programs__block--left.wow.wowFadeLeft(data-animation-delay="0.65s")

          .programs__block-video
            img(src="./img/ImageBlock_programs.jpg")
            +customBtnImage('#gallery', 'cbutton--active cbutton--icon js-play', "icon-play")

          p #Барабанное шоу

        .programs__block--right.wow.wowFadeRight(data-animation-delay="0.65s")

          .programs__block-header
            h4 ha no aki

            .programs__block-time
              i.programs__block-icon.icon-clock
              span.programs__block-icon 4 мин

          p Воздух становится все прохладнее, лето закончилось и наступило время кленовых листьев каэдэ. Деревья меняют цвет, укутывая склоны гор и равнины живописным золотисто-багровым ковром. Лёгкий взмах веера - и зелёный цвет превращается в красный. От дуновения ветра кружатся осенние листья в завораживающем танце. Время любования осенью...
          +customBtnId('#callback_7', 'cbutton--active programs__block-cbtn js-order', "СТОИМОСТЬ")

      #callback_7.modal.mfp-hide
        form.modal__form.modal__form-choose.is-active
          span!= "Шоу на открытие"
          .modal__form-field(js-chooseLabel, data-count="5 чел. / 50 000 p.")
              .modal__form-field--left
                +icon('ico-people')
                | 5 ЧЕЛ.
              .modal__form-field--right
                | 10 000 p.
          .modal__form-field(js-chooseLabel, data-count="7 чел. / 75 000 p.")
              .modal__form-field--left
                +icon('ico-people')
                | 7 ЧЕЛ.
              .modal__form-field--right
                | 35 000 p.
          .modal__form-field(js-chooseLabel, data-count="10 чел. / 100 000 p.")
              .modal__form-field--left
                +icon('ico-people')
                | 10 ЧЕЛ.
              .modal__form-field--right
                | 30 000 p.
          +customBtn('cbutton--active modal__cbtn js-chooseModal', "Заказать")

        form.modal__form.modal__form-data(js-modal)
          p(js-count)!= "5 чел. / 50 000 p."
          span!= "ЯПОНСКИЕ СЕЗОНЫ"
          input(type="hidden" name="programm" value="")
          input(type="hidden" name="people" value="")
          .modal__form-field
            input(type="text" name="name" placeholder="Ваше имя")
          .modal__form-field.modal__form-field--phone
            input(type="tel" name="phone" placeholder="Ваш номер")
          .modal__form-field.modal__form-field--email
            input(type="email" name="email" placeholder="почта")

          +customBtnSubmit('cbutton--active modal__cbtn', "Отправить")
          

      // programm
      .programs__block.programs__block--reverse
        .programs__block--left.wow.wowFadeLeft(data-animation-delay="0.65s")

          .programs__block-video
            img(src="./img/ImageBlock_programs.jpg")
            +customBtnImage('#gallery', 'cbutton--active cbutton--icon js-play', "icon-play")

          p #Барабанное шоу

        .programs__block--right.wow.wowFadeRight(data-animation-delay="0.65s")

          .programs__block-header
            h4 fuji musume

            .programs__block-time
              i.programs__block-icon.icon-clock
              span.programs__block-icon 3 мин

          p В далекой Японии есть легенда о дочерях горы Фудзи – прекрасных Глициниях, которые покинули родной дом в поисках возлюбленных, высоких и могучих Сосен. Сестры мечтали, чтобы они оберегали и служили надежной опорой на долгое время. Каждое лето Глицинии пышно распускаются от любви и окутывают склоны Фудзи нежных цветом. Тоскуя по возлюбленным, капли слез застывают в воздухе прекрасными цветами. Они надеются, что скоро встретят своих избраннико...
          +customBtnId('#callback_8', 'cbutton--active programs__block-cbtn js-order', "СТОИМОСТЬ")

      #callback_8.modal.mfp-hide
        form.modal__form.modal__form-choose.is-active
          span!= "Шоу на открытие"
          .modal__form-field(js-chooseLabel, data-count="5 чел. / 50 000 p.")
              .modal__form-field--left
                +icon('ico-people')
                | 5 ЧЕЛ.
              .modal__form-field--right
                | 10 000 p.
          .modal__form-field(js-chooseLabel, data-count="7 чел. / 75 000 p.")
              .modal__form-field--left
                +icon('ico-people')
                | 7 ЧЕЛ.
              .modal__form-field--right
                | 25 000 p.
          .modal__form-field(js-chooseLabel, data-count="10 чел. / 100 000 p.")
              .modal__form-field--left
                +icon('ico-people')
                | 10 ЧЕЛ.
              .modal__form-field--right
                | 30 000 p.
          +customBtn('cbutton--active modal__cbtn js-chooseModal', "Заказать")

        form.modal__form.modal__form-data(js-modal)
          p(js-count)!= "5 чел. / 50 000 p."
          span!= "ЯПОНСКИЕ СЕЗОНЫ"
          input(type="hidden" name="programm" value="")
          input(type="hidden" name="people" value="")
          .modal__form-field
            input(type="text" name="name" placeholder="Ваше имя")
          .modal__form-field.modal__form-field--phone
            input(type="tel" name="phone" placeholder="Ваш номер")
          .modal__form-field.modal__form-field--email
            input(type="email" name="email" placeholder="почта")

          +customBtnSubmit('cbutton--active modal__cbtn', "Отправить")
          

      // programm
      .programs__block
        .programs__block--left.wow.wowFadeLeft(data-animation-delay="0.65s")

          .programs__block-video
            img(src="./img/ImageBlock_programs.jpg")
            +customBtnImage('#gallery', 'cbutton--active cbutton--icon js-play', "icon-play")

          p #Барабанное шоу

        .programs__block--right.wow.wowFadeRight(data-animation-delay="0.65s")

          .programs__block-header
            h4 Geisha kitsune

            .programs__block-time
              i.programs__block-icon.icon-clock
              span.programs__block-icon 3 мин

          p Однажды в Осаке появилась таинственная девушка. Это навсегда изменило привычный ритм жизни. Она была настолько очаровательна, что никто не в силах был отвести от взгляд. Перед людьми предстала манящая красота, интригующая и необычайно привлекательная. Она искусно владела магией обольщения - каждое движение завораживало… Девушкой восхищались, но никто не догадывался, что это лиса Кицунэ в человеческом обличии...
          +customBtnId('#callback_9', 'cbutton--active programs__block-cbtn js-order', "СТОИМОСТЬ")

      #callback_9.modal.mfp-hide
        form.modal__form.modal__form-choose.is-active
          span!= "Шоу на открытие"
          .modal__form-field(js-chooseLabel, data-count="5 чел. / 50 000 p.")
              .modal__form-field--left
                +icon('ico-people')
                | 5 ЧЕЛ.
              .modal__form-field--right
                | 10 000 p.
          .modal__form-field(js-chooseLabel, data-count="7 чел. / 75 000 p.")
              .modal__form-field--left
                +icon('ico-people')
                | 7 ЧЕЛ.
              .modal__form-field--right
                | 25 000 p.
          .modal__form-field(js-chooseLabel, data-count="10 чел. / 100 000 p.")
              .modal__form-field--left
                +icon('ico-people')
                | 10 ЧЕЛ.
              .modal__form-field--right
                | 30 000 p.
          +customBtn('cbutton--active modal__cbtn js-chooseModal', "Заказать")

        form.modal__form.modal__form-data(js-modal)
          p(js-count)!= "5 чел. / 50 000 p."
          span!= "ЯПОНСКИЕ СЕЗОНЫ"
          input(type="hidden" name="programm" value="")
          input(type="hidden" name="people" value="")
          .modal__form-field
            input(type="text" name="name" placeholder="Ваше имя")
          .modal__form-field.modal__form-field--phone
            input(type="tel" name="phone" placeholder="Ваш номер")
          .modal__form-field.modal__form-field--email
            input(type="email" name="email" placeholder="почта")

          +customBtnSubmit('cbutton--active modal__cbtn', "Отправить")
          

      .programs__wrap-row.wow.wowFadeUp(data-animation-delay="0.55s")
        p.programs__suit-title!= "Костюмы"

        .programs__suit.js-programSuitSlider
          -for(var i = 0; i < 9; i++)
            .programs__suit-item
              img(src="./img/ImageSuit_program.jpg")

block footer
  include ./components/_footer
