---
title: Taiko - Season
bodyClass: season
---
extends shared/_layout
block content

  -
    var objData = [
      {
        "imageName" : "ImageSeason0_season",
        "count" : "#БЛОК ПЕРВЫЙ",
        "title" : "ХАРУ",
        "hoverText" : "ЦВЕТОК... И ЕЩЕ ЦВЕТО...<br/>ТАК РАСПУСКАЕТСЯ ВИШНЯ<br/>ТАК ПРИБЫВАЕТ ТЕПЛО",
        "hoverName" : "РАНСЕЦУ",
        "description" : "Это время, когда природа пробуждается ото сна и почки только начинают набухать, а свежий ветер парит над океаном. Когда уходят холода и появляется первая радуга, а перелетные птицы возвращаются домой. Когда на улицах и в садах розовым облаком поднимается цветущая сакура, оставляя на земле живой ковер из лепестков, падающих с деревьев. Это сезон Ханами — традиции любования цветами и особое состояние души.",
        "numbers" : [
          "YATAI BAYASHI",
          "SAKURA BLOSSOM",
          "KYOME"
        ]
      },
      {
        "imageName" : "ImageSeason1_season",
        "count" : "#БЛОК ВТОРОЙ",
        "title" : "ЦУЮ",
        "hoverText" : "ДОЖДЬ НАБЕГАЕТ ЗА ДОЖДЁМ,<br/>И СЕРДЦЕ БОЛЬШЕ НЕ ТРЕВОЖАТ<br/>РОСТКИ НА РИСОВЫХ ПОЛЯХ.",
        "hoverName" : "БАСЁ",
        "description" : "Это время бесконечно моросящего дождя, когда непрерывным потоком капает с неба вода, а зонтик становится главным героем событий. Это время затопленных равнин и живительной влаги, когда отцветает слива и наливаются соком плоды, а первые ростки риса и бамбука только начинают появляться. Это время цветения гортензий, когда в их голубизне утопают храмы и сады, улицы и города.",
        "numbers" : [
          "SEN NO KAIKYO",
          "SHI NO TUKI AME",
          "YAMAGAWA"
        ]
      },
      {
        "imageName" : "ImageSeason2_season",
        "count" : "#БЛОК ТРЕТИЙ",
        "title" : "НАТСУ",
        "hoverText" : "ЕДВА-ЕДВА Я ДОБРЕЛ,<br/>ИЗМУЧЕННЫЙ, ДО НОЧЛЕГА...<br/>И ВДРУГ-ГЛИЦИНИЙ ЦВЕТЫ!",
        "hoverName" : "БАСЁ",
        "description" : "Это время буйного цветения, когда склоны покрыты мягким ковром из лаванды, гортензии, ирисов и других ярких цветов. Когда гора Фудзи притягивает к восхождению, а подножие окутывается разноцветными гроздья прекрасных цветов глицинии. Это время жарких ветров и ярких ночей, когда леса освещаются мерцанием светлячков.",
        "numbers" : [
          "SHIMA UCHI",
          "FUJI MUSUME",
          "YODAN UCHI"
        ]
      },
      {
        "imageName" : "ImageSeason3_season",
        "count" : "#БЛОК ЧЕТВЕРТЫЙ",
        "title" : "АКИ",
        "hoverText" : "ВИДЕЛИ ВСЁ НА СВЕТЕ<br/>МОИ ГЛАЗА - И ВЕРНУЛИСЬ<br/>К ВАМ, БЕЛЫЕ ХРИЗАНТЕМЫ.",
        "hoverName" : "ИССЁ",
        "description" : "Это время полной луны, когда невозможно оторвать от нее взгляда, а свет окутывает леса синим морем оттенков. Когда опускаются густые туманы, а белая роса покрывает густую зеленую траву. Это грусть последнего цветения, когда распускаются хризантемы, любование красотой которых продолжается бесконечно.",
        "numbers" : [
          "YATAI BAYASHI",
          "MORIOKA SANSA ODORI",
          "ISAMI GOMA"
        ]
      },
      {
        "imageName" : "ImageSeason4_season",
        "count" : "#БЛОК ПЯТЫЙ",
        "title" : "МОМИДЗИ",
        "hoverText" : "О КЛЕНОВЫЕ ЛИСТЬЯ!<br/>КРЫЛЬЯ ВЫ ОБЖИГАЕТЕ<br/>ПРОЛЕТАЮЩИМ ПТИЦАМ",
        "hoverName" : "СИКО",
        "description" : "Это время спасения от изнуряющей жары, когда воздух становится все прохладнее, а листья деревьев желтеют, укутывая равнины и склоны гор живописным золотистым ковром. Когда тысячи кленов словно полыхают из-за красной листвы. Это сезон Койо — традиции любования осенними красками.",
        "numbers" : [
          "HAYAT",
          "HA NO AKI",
          "KAGARIBI"
        ]
      },
      {
        "imageName" : "ImageSeason5_season",
        "count" : "#БЛОК ШЕСТОЙ",
        "title" : "ФУЮ",
        "hoverText" : "И ПОЛЯ И ГОРЫ -<br/>СНЕГ ТИХОНЬКО ВСЕ УКРАЛ...<br/>СРАЗУ СТАЛО ПУСТО.",
        "hoverName" : "ДЗЁСО",
        "description" : "Это время срывающего листья северного ветра, когда холод сковывает деревья и заставляет замереть озера, а последние цветы отцветают. Это время первого снега, когда снежные хлопья тихо ложатся на ветки бамбука и сосен. Когда исчезают радуги, а небо становится прозрачным, как зеркало над голубыми облаками. Это сезон Юкими — традиции любования снегом и холодными красками мороза.",
        "numbers" : [
          "ODORI UCHI",
          "GEISHA KITSUNE",
          "MILLENNIUM SONG"
        ]
      }
    ];


  .season__main
    .season__main-wrap.wow.wowFadeUp(data-animation-delay="0.35s")
      p.season__main-hash!= "#ШОУ-ПРОГРАММА"
      +customBtn('season__main-cbtn', "ЯПОНСКИЕ СЕЗОНЫ")


  .season__concept

    img(src="./img/ImageBg0_concept.png" class="season__concept-image season__concept-image--left")
    img(src="./img/ImageBg1_concept.png" class="season__concept-image season__concept-image--right")

    .container
      +customBtn('season__concept-cbtn wow wowFadeLeft', "КОНЦЕПЦИЯ")

      p.season__concept-title.wow.wowFadeLeft(data-animation-delay="0.55s")!= "В японской природе за год"
      span.season__concept-subtitle.wow.wowFadeLeft(data-animation-delay="0.65s")!= "происходит тысяча изменений<br/>и десять тысяч перемен..."

      .season__concept-text.wow.wowFadeRight(data-animation-delay="0.55s")
        p!= "Загадка японских сезонов кроется не в яркой смене времён года, а в том, как японцы смотрят на каждое природное явление."
        br
        br
        p!= "Где ещё любуются, как цветёт сакура, льёт дождь, краснеют листья клёна и падает первый снег?"
        br
        br
        p!= "Чтобы почувствовать загадочную Японию, попробуйте посмотреть по-новому на необыкновенную красоту Японских Сезонов."

  .season__container
    .container
      p.season__container-tilte.wow.wowFadeUp(data-animation-delay="0.45s")!= "ШОУ-ПРОГРАММА ВКЛЮЧАЕ В СЕБЯ"
      p.season__container-subtilte.wow.wowFadeUp(data-animation-delay="0.65s")!= "<b>6 БЛОКОВ<b/> ПО 15 МИНУТ"

      -for(var i = 0, len = objData.length; i < len; i++)
        +programFullBlockHover(
          objData[i]["imageName"],
          objData[i]["count"],
          objData[i]["title"],
          objData[i]["hoverText"],
          objData[i]["hoverName"]
        )
        +seasconBlock(
          objData[i]["description"],
          objData[i]["numbers"]
        )


      +customBtnId("#callback", 'cbutton--active season__container-cbtn js-popup wow wowFadeUp', "СТОИМОСТЬ")

block footer
  include ./components/_footer
