- var svgSprite = 'img/sprite.svg'

mixin icon(name, modClass)
  if modClass == undefined
    - var modClass = ''
  else
    - var modClass = ' ' + modClass
  svg(class="ico " + name + modClass)
    use(xlink:href= svgSprite + '#' + name)


mixin newsBlock(idx, className)
  .news__wrap
    -for(var i = 0; i < idx; i++)
      a(href="#", class="news__wrap-elem " + className, data-animation-delay=".5s")
        img(src="./img/ImagePreview-" + i + "_news.jpg")
        .news__wrap-hidden
          p!= "ОТКРЫТИЕ<br/>ЮНИКЛО"


mixin customBtn(className, text)
  a.cbutton(href="#" class= className)
    .cbutton__block
      .cbutton__block-bg.cbutton__block-bg--0
      .cbutton__block-bg.cbutton__block-bg--1
    .cbutton__text!= text


mixin customBtnLink(href, className, text)
  a.cbutton(href= href, class= className)
    .cbutton__block
      .cbutton__block-bg.cbutton__block-bg--0
      .cbutton__block-bg.cbutton__block-bg--1
    .cbutton__text!= text


mixin customBtnSubmit(className, text)
  button.cbutton(class= className, type="submit")
    .cbutton__block
      .cbutton__block-bg.cbutton__block-bg--0
      .cbutton__block-bg.cbutton__block-bg--1
    .cbutton__text!= text


mixin customBtnId(href, className, text)
  a.cbutton(href= href, class= className)
    .cbutton__block
      .cbutton__block-bg.cbutton__block-bg--0
      .cbutton__block-bg.cbutton__block-bg--1
    .cbutton__text!= text


mixin customBtnImage(href, className, iconName)
  a.cbutton(href= href, class= className)
    .cbutton__block
      .cbutton__block-bg.cbutton__block-bg--0
      .cbutton__block-bg.cbutton__block-bg--1
    .cbutton__icon(class= iconName)


// programs__block--normal
// programs__block--reverse
mixin prgramsBlock(className, imgName, hashText, title, time, text)
  div(class="programs__block " + className)
    .programs__block--left.wow.wowFadeLeft(data-animation-delay="0.65s")

      .programs__block-video
        img(src="./img/" + imgName + ".jpg")
        +customBtnImage('#gallery', 'cbutton--active cbutton--icon js-play', "icon-play")

      p!= hashText

    .programs__block--right.wow.wowFadeRight(data-animation-delay="0.65s")

      .programs__block-header
        h4!= title

        .programs__block-time
          i.programs__block-icon.icon-clock
          span.programs__block-icon!= time

      p!= text

      +customBtnId('#callback', 'cbutton--active programs__block-cbtn js-popup', "СТОИМОСТЬ")


mixin programFullBlock(imgName, hashText, cbtnText, time)
  .programs__container.wow.wowFadeUp(data-animation-delay="0.1s")

    .programs__container-video
      img(src="./img/" + imgName + ".jpg")

    .programs__container-info
      p!= hashText
      +customBtnLink('season.html', 'cbutton--active programs__container-cbtn', cbtnText)

      if(time)
        .programs__container-time
          i.programs__container-icon.icon-clockWhite
          span.programs__container-icon!= time


mixin programFullBlockHover(imgName, hashText, cbtnText, hoverText, hoverName)
  .season__box

    .season__box-img
      img(src="./img/" + imgName + ".jpg")

    .season__box-info
      p!= hashText
      +customBtn('season__box-cbtn', cbtnText)

    .season__box-hover
      p!= hoverText
      span!= hoverName


mixin seasconBlock(text, arr)
  .season__block
    p!= text

  .season__elem
    -for(var i = 0, len = arr.length; i < len; i++)
      .season__elem-container
        .season__elem-item
          != arr[i]

        p!= "#БАРАБАННЫЙ НОМЕР"

